<div class="container-1">
    <div class="head">
        <h1>Staff Sign Up</h1>
        <img src="assets/images/logo_PNG 1.png" alt="">
    </div>
    <div class="form">
        <div class="column">
            <div class="input mb-3">
                <label for="fullname" class="form-label">Full name</label><br>
                <input type="text" class="form-control" id="fullname" >
            </div>
            <div class="input mb-3">
                <label for="email" class="form-label">Email adress</label><br>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="input mb-3">
                <label for="dob" class="form-label">Date of birth</label><br>
                <input type="date" class="form-control" id="dob">
            </div>
            <div class="input mb-3">
                <label for="address" class="form-label">Address</label><br>
                <input type="text" class="form-control" id="address">
            </div>
        </div>

        <div class="column">
            <div class="input mb-3">
                <label for="telephone" class="form-label">Telephone</label><br>
                <input type="number" class="form-control" id="telephone" >
            </div>
            <div class="input mb-3">
                <p>Grade</p>
                <div class="radio">
                    <div class="grade">
                        <input type="radio" id="age1" name="age" value="30">
                        <label for="age1"> 1</label>
                    </div>
                    <div class="grade">
                        <input type="radio" id="age2" name="age" value="60">
                        <label for="age2"> 2</label>
                    </div>
                </div>
            </div>
            <div class="input mb-3">
                <label for="password" class="form-label">Password</label><br>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="input mb-3">
                <label for="password" class="form-label">Re-type Password</label><br>
                <input type="password" class="form-control" id="password">
            </div>
        </div>  
    </div>
    <div class="agree-signup">
        <div class="checkbox">
            <input type="checkbox" class="form-check-input" id="Terms-Conditons">
            <label class="form-check-label" for="Terms-Conditons">I agree with the <a routerLink="">terms and conditons</a> and <a routerLink="">privacy policy</a> </label>
        </div>
        <div class="btn">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </div>
</div>
