<div class="container">
    <div class="cover-photo">
        <img src="assets\images\cover.png" alt="">
    </div>
    <form>
        <div class="login">
            <h1>login</h1>
            <img src="assets\images\logo_PNG 1.png" alt="">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label><br>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label><br>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="RememberMe-ForgotPassword">
            <div class="checkbox">
                <input type="checkbox" class="form-check-input" id="RememberMe">
                <label class="form-check-label" for="RememberMe">Remember me</label>
            </div>
            <p>Forgot password?</p>
        </div>
        <div class="btn">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="sign-up">
            <p>Don’t have an account yet?</p>
            <p class="signup" routerLink="UserSignup">Sign Up</p>
        </div>
    </form>
</div>
